@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	src: local('Montserrat'), local('Montserrat-Bold'),
		url('../fonts/Montserrat/montserrat_700/montserratbold.woff2') format('woff2'),
		url('../fonts/Montserrat/montserrat_700/montserratbold.woff') format('woff'),
		url('../fonts/Montserrat/montserrat_700/montserratbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	src: local('Montserrat'), local('Montserrat-Medium'),
		url('../fonts/Montserrat/montserrat_400/montserrat.woff2') format('woff2'),
		url('../fonts/Montserrat/montserrat_400/montserrat.woff') format('woff'),
		url('../fonts/Montserrat/montserrat_400/montserrat.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// @font-face {
// 	font-display: swap;
// 	font-family: 'Roboto';
// 	src: local('Roboto'), local('Roboto-Regular'),
// 		url('../fonts/Roboto/Roboto_400/Roboto.woff2') format('woff2'),
// 		url('../fonts/Roboto/Roboto_400/Roboto.woff') format('woff'),
// 		url('../fonts/Roboto/Roboto_400/Roboto.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// }